---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Mariano Bagnarelli">
	<main>
		<Hero />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 700px;
		max-width: calc(100% - 2rem);
		color: white;
		line-height: 1.6;
		font-family: 'Inder', sans-serif;
	}
</style>
