---
import Layout from '../layouts/Layout.astro';

import Hero from '@components/Hero.astro';
import Status from '@components/Status.astro';
import FindMe from '@components/FindMe.astro';
---

<Layout title="Mariano Bagnarelli">
	<main>
		<Hero />
		<Status />
		<FindMe />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 700px;
		max-width: calc(100% - 2rem);
		color: white;
		line-height: 1.6;
		font-family: 'Inder', sans-serif;
	}
</style>
