<section class="w-full flex flex-col mt-12">
	<h1 class="text-xl text-lime tracking-widest uppercase mb-6">Mariano Bagnarelli</h1>
	<h2 class="text-xl text-white uppercase tracking-widest mb-6">Frontend Engineer <br>focused on modern Web Development.</h2>
	<p class="text-gray-400 text-lg leading-8 mb-6">
		Building pretty and performant applications <br>with cutting edge technologies and tools. ✨
	</p>
</section>