<section class="relative w-full flex flex-col mt-12">
	<h1 class="text-xl text-lime tracking-widest uppercase mb-6">Mariano Bagnarelli</h1>
	<h2 class="text-xl text-white uppercase tracking-widest mb-6">Senior UI Engineer <br>focused on interaction design.</h2>
	<p class="text-gray-400 text-lg w-1/2 leading-8 mb-6">
		Building fast apps that feel like a physical extension of your mind with considerate motion design for fluid interfaces.
	</p>
	<p class="text-gray-400 text-lg w-1/2 leading-8">
		I’m the person who can bridge the gap between design and engineering to give your product that extra attention to detail to stand out from competitors. ✨
	</p>
</section>